<h1>Settings</h1>
<h2>Presets:
    {% if presets %}
        {{ presets.length }}
    {% else %}
        (none)
    {% endif %}
</h2>
<h2>Links:
    {% if presets %}
        {{ links.length }}
    {% else %}
        (none)
    {% endif %}
</h2>

<input id="" name="" placeholder="My New Preset" type="text">
<button class="add-preset">Add Preset</button>

<i class="bi bi-arrow-left" id="back"></i>

<style>
    i#back {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.4rem;
        color: #9e9e9e;
        transition: color 0.3s ease-in-out;
    }

    i#back:hover {
        color: #dadada;
        cursor: pointer;
    }
</style>